<app-header />

<!-- top_section Starts -->
<!-- <div class="top_section">
    <div class="container">
        <div class="banner">
            <div class="overlay"></div>

            <div class="row">
                <div class="col-md-6 ms-auto">
                    <h2 class="header-quote">Save time and lower</h2>
                    <p>
                        Your sweeping costs with the
                    </p>
                    <h1 class="header-title">Robot<br><span class="thin">Factory</span></h1>
                </div>
            </div>
        </div>
    </div>
</div> -->

<section class="banner_slider">
    <div class="slider">
        <owl-carousel-o [options]="banner_slider">

            <ng-template carouselSlide>
                <div>
                    <div class="banner_slider_content">
                        <div class="slider_flex">
                            <div class="left_side">
                                <img src="Images/window-curtains-slider-1.jpg" alt />
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div>
                    <div class="banner_slider_content">
                        <div class="slider_flex">
                            <div class="left_side">
                                <img src="Images/Window-curtains-slider-2.jpg" alt />
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div>
                    <div class="banner_slider_content">
                        <div class="slider_flex">
                            <div class="left_side">
                                <img src="Images/window-curtains-1.webp" alt />
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div>
                    <div class="banner_slider_content">
                        <div class="slider_flex">
                            <div class="left_side">
                                <img src="Images/window-blind.jpg" alt />
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

        </owl-carousel-o>
    </div>
</section>

<!-- bottom_section Starts -->
<div class="bottom_section">
    <div class="container">
        <div class="content">

            <!-- products_section Starts -->
            <section class="products_section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="title-box">
                                <h2 class="title">Welcome to our <span>Curtains World</span></h2>
                                <a href="#" class="btn btn-default btn-robot">view products</a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="product-box">
                                <img class="img-responsive" src="Images/window-curtains-1.webp" alt="product">
                                <h3 class="product-title">Magnetic Curtains</h3>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-box">
                                <img class="img-responsive" src="Images/window-blind.jpg" alt="product">
                                <h3 class="product-title">Window-Blind Curtains</h3>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-box">
                                <img class="img-responsive" src="Images/Roller-blind.jpg" alt="product">
                                <h3 class="product-title">Roller-Blind Curtains</h3>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="classic-title">
                                <div class="stiker">
                                    <h3 class="inner-stiker">Why we are best</h3>
                                </div>
                                <h3 class="outer-stiker">We Received best product award in the 2018</h3>
                                <div class="incline-div"></div>
                            </div>
                        </div>
                        <div class="boxed row">
                            <div class="col-sm-4">
                                <p class="p-large">
                                    Blocks direct sunrays and keeps your car cool.
                                    Black dotted mesh fabric gives you complete privacy and its helps you
                                    to view outside properly while driving. Material used is in such way,
                                    that you don't face difficult while driving.
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <p>
                                    UV Protection Sun Shades for Cars : These sun shades provide protection from harmful
                                    UV rays, improving the health and well-being of the occupants in the car. They can
                                    help reduce exposure to the sun's harmful rays, creating a safer and more
                                    comfortable driving environment.
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <p>
                                    UV Protection Sun Shades for Cars : These sun shades provide protection from harmful
                                    UV rays, improving the health and well-being of the occupants in the car. They can
                                    help reduce exposure to the sun's harmful rays, creating a safer and more
                                    comfortable driving environment
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- products_section Ends -->

            <!-- history_section Starts -->
            <section class="history_section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="title-box">
                                <p>Since 2012</p>
                                <h2 class="title mt0">Discover our history</h2>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="boxed row">
                            <div class="col-md-10 mx-auto">
                                <p>
                                    Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummynibh euismod
                                    tincidunt ut laoree Dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet
                                    consectetuer adipiscing elit sed diam nonummynibh euismod tincidunt ut laoree Dolore
                                    magna aliquam erat .
                                </p>
                            </div>
                            <div class="col-md-12" >
                                <img [src]="imageUrl +'/company1.png'" style="width:100%; margin:10px; padding:10px;" alt="history">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- history_section Ends -->

            <!-- partner_section Starts -->
            <section class="partner_section mt-5">
                <div class="container section-bg">
                    <div class="row mb-2">
                        <div class="common_heading">
                            <h4>Our Clients</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="boxed">
                            <div class="col-sm-12">

                                <div class="gallary-carousel-section">
                                    <owl-carousel-o [options]="gallary">

                                        <ng-template carouselSlide>
                                            <div class="card-item">
                                                <div class="image-wrapper">
                                                    <img src="Images/Clients/bmw-logo.png" alt="">
                                                </div>
                                                <!-- <div class="caption">
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div> -->

                                            </div>
                                        </ng-template>
                                        <ng-template carouselSlide>
                                            <div class="card-item">
                                                <div class="image-wrapper">
                                                    <img src="Images/Clients/honda-logo.png" alt="">
                                                </div>
                                                <!-- <div class="caption">
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div> -->
                                            </div>
                                        </ng-template>
                                        <ng-template carouselSlide>
                                            <div class="card-item">
                                                <div class="image-wrapper">
                                                    <img src="Images/Clients/hyundai-logo.png" alt="">
                                                </div>
                                                <!-- <div class="caption">
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div> -->
                                            </div>
                                        </ng-template>
                                        <ng-template carouselSlide>
                                            <div class="card-item">
                                                <div class="image-wrapper">
                                                    <img src="Images/Clients/kia-logo.png" alt="">
                                                </div>
                                                <!-- <div class="caption">
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div> -->
                                            </div>
                                        </ng-template>
                                        <ng-template carouselSlide>
                                            <div class="card-item">
                                                <div class="image-wrapper">
                                                    <img src="Images/Clients/mahindra-logo.png" alt="">
                                                </div>
                                                <!-- <div class="caption">
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div> -->
                                            </div>
                                        </ng-template>
                                        <ng-template carouselSlide>
                                            <div class="card-item">
                                                <div class="image-wrapper">
                                                    <img src="Images/Clients/mg-logo.png" alt="">
                                                </div>
                                                <!-- <div class="caption">
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div> -->
                                            </div>
                                        </ng-template>
                                        <ng-template carouselSlide>
                                            <div class="card-item">
                                                <div class="image-wrapper">
                                                    <img src="Images/Clients/suzuki-logo.png" alt="">
                                                </div>
                                                <!-- <div class="caption">
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div> -->
                                            </div>
                                        </ng-template>
                                        <ng-template carouselSlide>
                                            <div class="card-item">
                                                <div class="image-wrapper">
                                                    <img src="Images/Clients/tata-logo.png" alt="">
                                                </div>
                                                <!-- <div class="caption">
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div> -->
                                            </div>
                                        </ng-template>
                                        <ng-template carouselSlide>
                                            <div class="card-item">
                                                <div class="image-wrapper">
                                                    <img src="Images/Clients/volkswagen-logo.png" alt="">
                                                </div>
                                                <!-- <div class="caption">
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div> -->
                                            </div>
                                        </ng-template>

                                    </owl-carousel-o>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- partner_section Ends -->

        </div>
    </div>
</div>
<!-- bottom_section Ends -->

<app-footer />